* {
    padding: 0%;
    margin: 0%;
}

/* HEADER START  */
.header {
    grid-area: 'header header header header';
    background-color: rgb(44, 185, 167);
    width: 100%;
    height: 40px;
    color: beige;
    font-weight: bolder;
}

.header p {
    padding: 5px;
}

@media all and (max-width:380px) {
    .header {
        display: none;
    }
}
/* @media all and (max-width:500px){
 .areacontainer{
     width: 100%;
 }

 .areacontainer .aside .div{
     display: none;

 }
} */


/* HEADER END  */

/* NAVBAR START  */
.navbar-brand a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

.navbar {
    padding: 2px;
}

.navbar .container-fluid img {
    display: inline-block;
    margin-left: 0px;
}

.logo {
    flex-shrink: 4;
    margin-left: 0px;
}

.logo a {
    font-family: oleo script swash caps;
}


@media all and (max-width:360px) {
    .logo a {
        display: none;
    }
}

@media all and (max-width:200px) {
    .logo img {
        width: 50px;
        height: 40px;
    }
}

.fa-cart-arrow-down{
    font-size: 30px;
    margin: 10px;
}

.btn-1{
    border: solid 1px  rgb(44, 185, 167);
    
}

.btn-1:hover{
    background-color:  rgb(44, 185, 167);
    cursor: pointer;
    transition: 1s;
}

/* NAVBAR END  */


/* ASIDE SECTION  */


.areacontainer {
    grid-template-areas:
        "header header header header"
        "navbar navbar navbar navbar"
        "aside section section section"
        "footer footer footer footer";
    display: flex;
}

.aside {
    grid-area: aside;
    display: inline-block;
    margin-top: 20px;
    padding: 15px;
}

.aside .div a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}

.aside .div h1 {
    color: lightseagreen;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ASIDE END  */

/* slide-bar */
#slidebar{
position: absolute;
width: 400px;
height: 100%;
background: #000;
left: -400px;
transition: .4s;
}

#slidebar .active{
left: 0;
}

#slidebar ul li{
list-style: none;
color: #fff;
font-size: 20px;
padding: 20px 24px;

}

#slidebar .toggle-btn{
position: absolute;
top: 30px;
left: 330px;
}

.toggle-btn span{
width: 45px;
height: 4px;
background: #000;
display: block;
margin-top: 4px;



}


/* end */

/* SECTION START  */

.section {
    grid-area: section;
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.section .d2 {
    width: 70%;
    padding: 20px;

}

.section .d2 p {
    padding: 10px;
    line-height: 27px;
}

.section .d2 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: lightseagreen;
}

/* SECTION END  */


/* FOOTER START  */

.footer {

    background-color: #37383dea;
    padding: 70px 0;
}

.footer-col {

    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {

    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


.footer-col h4::before {

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(44, 185, 167);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {

    margin-bottom: 10px;
}

.footer-col ul li a {

    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: black;
    background-color: #ffffff;

}

@media(max-width: 767px) {

    .footer-col {

        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:470px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width: 574px) {

    .footer-col {

        width: 100%;

    }
}

/* FOOTER END  */
